<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="939f99d2-4167-41cd-aebb-89339e4ad76b" created="2.3.0" activeEnvironment="Default environment" name="git_operations" resourceRoot="" compositeProjectFormat="1.3" encryptionMode="Not encrypted" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="939f99d2-4167-41cd-aebb-89339e4ad76bfileName">git_operations</con:setting></con:settings><con:vcsConfiguration><con:vcsName>Git</con:vcsName><con:repositoryIdentifier>https://github.com/JyotiKori1/Readyapigit.git</con:repositoryIdentifier></con:vcsConfiguration><con:savedRecentRuns>1</con:savedRecentRuns><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:jmsConnectionContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/><con:authRepository/><con:tags/></con:soapui-project>
