<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="939f99d2-4167-41cd-aebb-89339e4ad76b" created="2.3.0" activeEnvironment="Default environment" name="git_operations" resourceRoot="" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:savedRecentRuns>1</con:savedRecentRuns><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:jmsConnectionContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/><con:reporting/><con:authRepository/><con:tags/></con:soapui-project>
