<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="8368b956-be84-4f63-aecc-79607c3a4d08" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://reqres.in" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="8368b956-be84-4f63-aecc-79607c3a4d08fileName">https%3A%2F%2Freqres.in</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>https://reqres.in</con:endpoint></con:endpoints></con:interface>
