<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="424be6db-5cda-46ba-8f15-5853443fd174" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://services.groupkt.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="424be6db-5cda-46ba-8f15-5853443fd174fileName">http%3A%2F%2Fservices.groupkt.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://services.groupkt.com</con:endpoint></con:endpoints></con:interface>
